.projects__container {
    background-image: url(../../../public/images/bg-projects-skills.jpg);
    background-size: cover;
    background-position: center;
    min-height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}
.card__projects {
    border-radius: 10%;
    border: solid 2px #ff0096;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 0, 150, 0.8);
}
.card__bg {
    background: rgba(0, 0, 0, 0.429);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(2px); 
}
.card__projects img {
    border-radius: 10%;
    width: 100%;
    height: auto;
}
/* .card__bg a {
    margin-top: 10px;
    color: #fffc00;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Audiowide";
    background: linear-gradient(to left, #8c0066, #ff0096);
    transition: 1s; 
    font-size: 1.2em;
    box-sizing: border-box;
    border: solid 1px transparent; 
}
.card__bg a:hover {
    transition: 1s;
    background: #00000000;
    border: solid 1px #ff0096 ;
} */
@media (max-width: 768px) {
    .projects__container h1 {
        font-size: 2.6em;
    }
    .projects__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        max-width: 1200px;
      }
}
@media (max-width: 550px) {
    .projects__container h1 {
        font-size: 2em;
    }
    .projects__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width: 100%;
        max-width: 1200px;
      }
}