
.ui__container h2 {
    margin-top: 2em;
    font-family: "Audiowide";
    color: #fffc00;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-align: center;
}  
.ui__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 4em;
}
.uicard__projects {
    border-radius: 10%;
    border: solid 2px #ff0096;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 0, 150, 0.8);
}
.uicard__bg {
    background: rgba(0, 0, 0, 0.429);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uicard__projects img {
    border-radius: 10%;
    width: 100%;
    height: auto;
}
.uicard__bg a {
    margin-top: 10px;
    color: #fffc00;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Audiowide";
    background: linear-gradient(to left, #8c0066, #ff0096);
    transition: 1s; 
    font-size: 1.2em;
    box-sizing: border-box;
    border: solid 1px transparent; 
}
.uicard__bg a:hover {
    transition: 1s;
    background: #00000000;
    border: solid 1px #ff0096 ;
}

@media (max-width: 768px) {
    .ui__container h1 {
        font-size: 2.6em;
    }
    .ui__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        max-width: 1200px;
      }
}
@media (max-width: 550px) {
    .ui__container h1 {
        font-size: 2em;
    }
    .ui__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width: 100%;
        max-width: 1200px;
      }
}