.personal__image{
    position: relative;
    width: 50%;
    background: repeating-conic-gradient(from var(--a), #bb00ff 0%, #bb00ff 5%, transparent 5%, transparent 35%, #bb00ff 50%);
    animation: animatepicture 4s linear infinite;
    border-radius: 43%;
}
.personal__image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), rgb(0, 229, 255) 0%, rgb(110, 204, 255) 15%, transparent 5%, transparent 35%, rgb(110, 204, 255) 50%);
    animation: animatepicture 4s linear infinite;
    border-radius: 40%;
    animation-delay: -1s;
}
@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg
}
@keyframes animatepicture{
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}
.personal__image::after{
    content: '';
    position: absolute;
    inset: 8px;
    background: #00ffeef9;
    border-radius: 40%;
    border: 4px solid rgb(255, 0, 247);
}