#hero_id{
    background-image: url(../../../public/images/bg.jpg);
}
@media (max-width: 768px) {
    .container {
        left: 50%;
        transform: translate(-50%, -70%);
    }

    .navigator a {
        font-size: 0.9rem;
        padding: 8px 0;
    }

    .text_container h4 {
        font-size: 2em;
    }

    .text_container h3 {
        font-size: 1.2em;
    }

    .personal_image {
        right: 10%;
    }
}
