.contact__container h1{
    margin-top: 2em;
    font-family: "Audiowide";
    color: #fffc00;
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.form__container{
    border: solid 2px #fffc00;
    border-radius: 10%;
}