.container {
    position: absolute;
    top: 10%;
    left: 1%;
    width: auto;
    z-index: 2;
    background-color: none;
}
.navigator a {
    top: 3rem;
    transition: all 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.234);
}
.navigator a:hover {
    width: 130%;
    color: white;
    text-shadow: 1px 1px 7px rgb(0, 229, 255);
    border-bottom: 2px solid rgb(0, 229, 255);
    box-shadow: 4px 1px 1px rgb(0, 229, 255);
}
