.container_2 {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 1000; 
}
.container_2.open {
    height: 24rem;
}
.navigator_2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 21rem;
    background: none;
    padding-top: 1rem;
}
.navigator_2 a {
    position: relative;
    display: block;
    width: 100%;
    background: none;
    letter-spacing: 1.7px;
    border-bottom: 2px solid #7dfffd;
    box-shadow: 4px 1px 1px #7dfffd, 3px 1px 1px #0073ff;
    color: #fffc00;
    text-align: center;
    font-family: "Audiowide";
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    transition: all 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.234);
}
.navigator_2 a:hover {
    width: 130%;
    color: white;
    text-shadow: 1px 1px 7px rgb(0, 229, 255);
    border-bottom: 2px solid rgb(0, 229, 255);
    box-shadow: 4px 1px 1px rgb(0, 229, 255);
}
.navigator_3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 21rem;
    background: none;
    padding-bottom: 1rem;
}
.navigator_3 a {
    position: relative;
    display: block;
    width: 100%;
    background: none;
    letter-spacing: 1.7px;
    border-bottom: 2px solid #7dfffd;
    box-shadow: 4px 1px 1px #7dfffd, 3px 1px 1px #0073ff;
    color: #fffc00;
    text-align: center;
    font-family: "Audiowide";
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    transition: all 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.234);
}
  
.navigator_3 a:hover {
    width: 130%;
    color: white;
    text-shadow: 1px 1px 7px rgb(0, 229, 255);
    border-bottom: 2px solid rgb(0, 229, 255);
    box-shadow: 4px 1px 1px rgb(0, 229, 255);
}
.navigator {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 21rem;
    background: none;
    padding-top: 1rem;
} 
.navigator a {
    position: relative;
    display: block;
    width: 100%;
    background: none;
    letter-spacing: 1.7px;
    border-bottom: 2px solid #7dfffd;
    box-shadow: 4px 1px 1px #7dfffd, 3px 1px 1px #0073ff;
    color: #fffc00;
    text-align: center;
    font-family: "Audiowide";
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    transition: all 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.234);
}
.navigator a:hover {
    width: 130%;
    color: white;
    text-shadow: 1px 1px 7px rgb(0, 229, 255);
    border-bottom: 2px solid rgb(0, 229, 255);
    box-shadow: 4px 1px 1px rgb(0, 229, 255);
}
#menu-icon , #close-icon{
    width: 70px;
    height: 70px;
}
@media (max-width: 550px) {
    .navbar_icons {
      display: block;
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      z-index: 1100;
    }
    .navigator_2{
        width: 17rem;
    }
}
@media (min-width: 551px) {
    .navbar_icons {
      display: none;
    }
  
    .container_2 {
      display: none;
    }
}
  