/*@media (max-width: 1100px) {
    .first__pair{
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-bottom: 0;
    }
    .second__pair{
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-top: 0;
    }
    .cert__container{
        background-position: initial;
        min-height: 270vh;
    }
}
@media (max-width: 1060px) {
    .cert__container{
        min-height: 340vh;
    }
}
@media (max-width: 850px) {
    .cert__container{
        min-height: 330vh;
    }
    .cert__img__container img{
        width: 380px;
    } 
    .second__pair{
        margin-top: 0;
    }
    .text__img h1 {
        color: #fffc00;
        font-size: 2em;
    }
} */